body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 16px;
	line-height: $font__line-height-body;
}
a:focus { outline:none; outline-offset: 0; }

h2 a:hover {
	text-decoration: none;
}

.read-link {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

@import "headings";

@import "copy";
